{
	"plugins": [
		"@babel/plugin-proposal-object-rest-spread",
		"@babel/plugin-syntax-object-rest-spread",
		"@babel/plugin-transform-destructuring",
		"@babel/plugin-transform-parameters",
		"@babel/plugin-proposal-class-properties",
		[ "module:fast-async", { "compiler": { "promises": true, "generators": false } } ]
	]
}
